.heroCard {
	margin: 15px;
}

.heroCard img {
	width: 15vw;
	height: 30vh;
	border-bottom: 5px solid #ff1510;
}

.heroFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heroFooter h4 {
	font-size: small;
	color: #404040;
}

.favoriteInput input {
	display: none;
}
