#root {
  margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main section {
	text-align: center;
}

main section h1 {
	margin: 0;
}

main section p {
	margin: 0;
	color: #8c8c8c
}

.search {
	display: flex;
	align-items: center;
	background-color: #fdecec;
	width: 400px;
	margin-top: 35px;
	padding: 15px;
	border-radius: 50px;
}

.search label {
	margin: 0 15px;
}

.search input {
	background-color: transparent;
	outline: none;
	border: none;
	color: #ff1510;
	width: 200px;
	height: 30px;
	font-size: medium;
}

.search input::placeholder {
	color: #ff1510;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #FFF;
	border-bottom-color: #FF1510;
	border-radius: 50%;
	margin-top: 45px;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

.heroesHeader {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heroesHeader h3 {
	color: #8C8C8C;
}

.sortFilter {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 30%;
}

.sortFilter p {
	color: #FF1510;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
	width: 40px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #FF1510;
  bottom: 4px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 14px;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.listHeroes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
